
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-image: url('https://shlunk.files.wordpress.com/2013/01/blue-sky.jpg');
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

#game-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

#play-again-container {
    display: none;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.game-title {
    color: white;
    background-color: lightseagreen;
    border: solid white 3px;
    width: 450px;
    padding: 20px;
    text-align: center;
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.welcome {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    width: 300px;
    color: white;
    background-color: lightgreen;
    border: solid white 3px;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    
}

.button {
    height: 50px;
    border-radius: 25px;
    font-size: 1.5rem;
    background-color: darkorange;
    border: solid white 3px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#user-guess {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    background-color: gold;
    border: solid white 3px;
    color: white;
    border-radius: 50px;
    margin-bottom: 15px;
  }

.guesses-text {
    font-family:  Helvetica, Arial, sans-serif;
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: darkred;
    border: solid white 3px;
    color: white;
}

#guess-feedback-display {
    background-color: red;
    padding: 10px;
    border: white solid 3px;
    color: white;
    display: none;
}

#guesses-display {
    background-color: white;
    color: darkred;
    border: solid darkviolet 3px;
    font-weight: bolder;
}

#win-lose-message-display {
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: white;
    background-color: gold;
    border: solid white 3px;
    width: 400px;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-weight: bolder;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fbestanimations.com%2Fimages%2Flight-gold-glitter-bg-2.gif&f=1&nofb=1');
}